@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=IBM+Plex+Sans+Arabic:wght@700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --font1: "IBM Plex Sans Arabic", sans-serif;
  --blue: #0c68be;
  --grey: #3b3b3b13;
  --darkBlue: #192a3e;
}
#root,
body {
  width: 100%;
  height: 100%;
  background-color: #3333330a;
}
.Nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: var(--font1);
  box-shadow: 1px 5px var(--grey);

  background-color: #ffffff;
}
.Logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 5em 0em 0;
}
.Logo {
  width: 100px;
}
.Logo-text {
  font-weight: 900;
  font-size: 50px;
}

.Nav-links {
  display: flex;
  flex-direction: row;
  font-size: 1.75rem;
  color: #333333a8;
  margin: auto;
  cursor: pointer;

  align-items: center;
}
.Nav-link {
  margin: 1em;
}
.Nav-selected {
  color: #0c68be;
}
.user-container {
  display: flex;
  flex-direction: row-reverse;
}
.user-name {
  font-size: 1rem;
  margin: 4em;
  margin-right: 3em;
}
.Avatar {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin: 3em -2em 0 3em;
}
.Res-container {
  max-width: 95%;
  flex-wrap: wrap;
  position: fixed;
  top: 11.5rem;
  left: 9em;
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;

  font-family: var(--font1);
  padding: 2em;
  background-color: #ffffff;

  border-radius: 2em 2em 2em 2em;
  box-shadow: 1px 5px var(--grey);
}
#helperdest {
  font-size: 1.5em;
  font-family: var(--font1);
}
#dest {
  width: 15rem;
  height: 1.5em;
}
.icon {
  width: 3em;
  height: 3em;
  margin: 0.5em;
}
#helperback {
  font-size: 1.5em;
  font-family: var(--font1);
}
#back {
  width: 15rem;
  height: 1.5em;
}
.station-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 1em 1em 5em;
}
#seprator {
  font-size: 2rem;
  font-family: var(--font1);
  margin: 0 1em 0 1em;
}
.date {
  width: 15rem;
  height: 3em;
  margin: 0em 0em 0 1em;
  font-size: 1rem;
  outline: none;
  box-shadow: #333333a8 0px 0px 0px 0.025em;
  border-radius: 0.5em;
  font-size: 1.25rem;
  font-family: var(--font1);
  margin: 0 4em 0 3em;
  color: #333333a8;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  margin-left: 8em;
}
.btn {
  background-color: #0c68be;
  font-family: var(--font1);
  color: white;
  font-size: 1.85rem;
  border-radius: 0.5em;
  width: 8em;
  height: 2em;
  margin: 0.5em 0 0 5em;
}
.Flights-container {
  width: 70rem;
  background-color: transparent;
  position: absolute;
  right: 5em;
  top: 23em;
  margin: 5em;
  z-index: -1 !important;
}
.Results {
  margin: 0;
  line-height: 0.5em;
  font: 2rem var(--font1);
  color: var(--blue);
  font-family: var(--font1);
}
.Flights {
  width: 70rem;
  height: fit-content;
  padding-left: 1em;
}
.card-container {
  display: inline-block;
  width: 30rem;
  height: 20rem;
  margin: 2em;

  background-color: #ffffff;
  border-radius: 2em 2em 0em 0em;
  box-shadow: 1px 5px var(--grey);
}
.card-container {
  display: inline-block;
  grid-template-columns: 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px;
  grid-template-areas:
    " . .  company company"
    ".  . .  ."
    ".  . .  ."
    ".  . .  .";
}
.company-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
  margin-top: 3em;
}
.company-name {
  font-size: 1.5rem;
  font-family: var(--font1);
  margin: 0 0 0 1em;
}
.company-logo {
  width: 5em;
  margin-left: 1em;
}
.seat {
  margin: 0.5em;
  margin-left: 3em;
  font: 1rem var(--font1);
}
.remaining {
  color: #247559c9;
  font: 1rem var(--font1);
  margin: 1em 1em 0 3em;
}
.time {
  font: 1.15rem var(--font1);
  margin: 0em 1em 0 1em;
}
.time-container {
  font: 1.15rem var(--font1);
  margin: 0em 1em 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.transit {
  font: 1em var(--font1);
  display: block;
  position: relative;
  left: 5.5em;
  color: #f6876f;
}
.Refundable {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.refundable-button {
  width: fit-content;
  height: 2em;
  margin: -2em 2em 2em 0;
  background-color: #b1e7d3;
  color: #247558;
  font-family: var(--font1);
  font-size: 1rem;
  border-radius: 0.5em;
}
.price {
  font-size: 1.825rem;
  font-family: var(--font1);
  margin: 0 0 0 1em;
  color: #0c68be;
  position: relative;
  left: 4em;
  bottom: 1em;
}
.book-button {
  width: 100%;
  background-color: #0c68be;
  color: white;
  font-family: var(--font1);
  font-size: 1.85rem;
  border-radius: 0em 0em 0.5em 0.5em;
}
.filter-container {
  position: fixed;
  top: 22rem;
  left: 10rem;
  height: 60rem;
  width: 30rem;
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 1px 5px var(--grey);
  margin: 2em;
  padding: 1em;
  font-family: var(--font1);
}
#filter {
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-size: 1.25rem;

  color: #000000;
}
#Reset {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 1.25rem;

  color: #f6876f;
}
.Slider-container {
  position: absolute;
  top: 10em;
  left: 1.5em;
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#Price {
  position: absolute;
  top: -3em;
  right: 0.5em;
  font-size: 1.5rem;

  color: #000000;
}
.Min-Max {
  position: absolute;
  top: 10em;
  width: 90%;
  font-size: 1.55rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#Min,
#Max {
  position: relative;
  top: -0.8em;
  color: var(--blue);
  left: 1em;
}
.Departure-container {
  position: absolute;
  top: 20em;
  left: 1.5em;
  width: 25rem;
}
#Departure {
  position: absolute;

  right: 0.5em;
  font-size: 1.5rem;

  color: #000000;
}
.Departure {
  position: absolute;
  top: 3em;
  left: 3em;
  width: 100%;
}
.Departure-time {
  display: flex;
  width: 10em;
  padding: 1em;

  display: inline-block;
}
.Departure-time button {
  width: 8em;
  height: 3em;
  background-color: #0c68be1e;
  border: 1px solid #72a7da27;
  color: #0c68be;
  font-family: var(--font1);
  font-size: 1rem;
  border-radius: 0.5em;
}

.back {
  position: absolute;
  top: 3em;
  left: 2.625em;
  width: 100%;
}
.back-container {
  position: absolute;
  top: 33em;
  left: 2.5em;
  width: 25rem;
}
.back-time {
  display: flex;
  width: 10em;
  padding: 1em;

  display: inline-block;
}
.back-time button {
  width: 8em;
  height: 3em;
  background-color: #0c68be1e;
  border: 1px solid #72a7da27;
  color: #0c68be;
  font-family: var(--font1);
  font-size: 1rem;
  border-radius: 0.5em;
}
#Back {
  position: absolute;
  top: -0.5em;
  right: 1em;
  font-size: 1.5rem;
}
